In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from mlxtend.frequent_patterns import apriori,association_rules

In [2]:
movies = pd.read_csv("D:/DataScience/regression/Association rules/my_movies.csv")

In [3]:
movies.shape

(10, 15)

In [4]:
movies.head(10)

,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Braveheart,NaN,NaN,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,NaN,NaN,NaN,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
5,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
6,Harry Potter1,Harry Potter2,NaN,NaN,NaN,0,0,0,1,0,0,1,0,0,0
7,Gladiator,Patriot,NaN,NaN,NaN,0,1,0,0,1,0,0,0,0,0
8,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
9,Sixth Sense,LOTR,Gladiator,Green Mile,NaN,1,1,0,0,0,0,0,1,0,1

In [5]:
movies = []
with open("D:/DataScience/regression/Association rules/my_movies.csv") as f:
    movies = f.read()

In [6]:
# splitting the data into separate transactions using separator as "\n"
movies = movies.split("\n")
movies_list = []
for i in movies:
    movies_list.append(i.split(","))

In [7]:
movies_list

[['"V1"',
  '"V2"',
  '"V3"',
  '"V4"',
  '"V5"',
  '"Sixth Sense"',
  '"Gladiator"',
  '"LOTR1"',
  '"Harry Potter1"',
  '"Patriot"',
  '"LOTR2"',
  '"Harry Potter2"',
  '"LOTR"',
  '"Braveheart"',
  '"Green Mile"'],
 ['"Sixth Sense"',
  '"LOTR1"',
  '"Harry Potter1"',
  '"Green Mile"',
  '"LOTR2"',
  '1',
  '0',
  '1',
  '1',
  '0',
  '1',
  '0',
  '0',
  '0',
  '1'],
 ['"Gladiator"',
  '"Patriot"',
  '"Braveheart"',
  '""',
  '""',
  '0',
  '1',
  '0',
  '0',
  '1',
  '0',
  '0',
  '0',
  '1',
  '0'],
 ['"LOTR1"',
  '"LOTR2"',
  '""',
  '""',
  '""',
  '0',
  '0',
  '1',
  '0',
  '0',
  '1',
  '0',
  '0',
  '0',
  '0'],
 ['"Gladiator"',
  '"Patriot"',
  '"Sixth Sense"',
  '""',
  '""',
  '1',
  '1',
  '0',
  '0',
  '1',
  '0',
  '0',
  '0',
  '0',
  '0'],
 ['"Gladiator"',
  '"Patriot"',
  '"Sixth Sense"',
  '""',
  '""',
  '1',
  '1',
  '0',
  '0',
  '1',
  '0',
  '0',
  '0',
  '0',
  '0'],
 ['"Gladiator"',
  '"Patriot"',
  '"Sixth Sense"',
  '""',
  '""',
  '1',
  '1',
  '0',
  '0',
  '1',
  '0',
  '0',
  '0',
  '0',
  '0'],
 ['"Harry Potter1"',
  '"Harry Potter2"',
  '""',
  '""',
  '""',
  '0',
  '0',
  '0',
  '1',
  '0',
  '0',
  '1',
  '0',
  '0',
  '0'],
 ['"Gladiator"',
  '"Patriot"',
  '""',
  '""',
  '""',
  '0',
  '1',
  '0',
  '0',
  '1',
  '0',
  '0',
  '0',
  '0',
  '0'],
 ['"Gladiator"',
  '"Patriot"',
  '"Sixth Sense"',
  '""',
  '""',
  '1',
  '1',
  '0',
  '0',
  '1',
  '0',
  '0',
  '0',
  '0',
  '0'],
 ['"Sixth Sense"',
  '"LOTR"',
  '"Gladiator"',
  '"Green Mile"',
  '""',
  '1',
  '1',
  '0',
  '0',
  '0',
  '0',
  '0',
  '1',
  '0',
  '1'],
 ['']]

In [8]:
all_movies_list = [i for item in movies_list for i in item]
from collections import Counter,OrderedDict

In [9]:
item_frequencies = Counter(all_movies_list)
item_frequencies

Counter({'"V1"': 1,
         '"V2"': 1,
         '"V3"': 1,
         '"V4"': 1,
         '"V5"': 1,
         '"Sixth Sense"': 7,
         '"Gladiator"': 8,
         '"LOTR1"': 3,
         '"Harry Potter1"': 3,
         '"Patriot"': 7,
         '"LOTR2"': 3,
         '"Harry Potter2"': 2,
         '"LOTR"': 2,
         '"Braveheart"': 2,
         '"Green Mile"': 3,
         '1': 30,
         '0': 70,
         '""': 20,
         '': 1})

In [10]:
item_frequencies.most_common(5)

[('0', 70), ('1', 30), ('""', 20), ('"Gladiator"', 8), ('"Sixth Sense"', 7)]

In [11]:
item_frequencies = Counter(all_movies_list)
#print(item_frequencies.items())
# after sorting
item_frequencies = sorted(item_frequencies.items(),key = lambda x:x[1])
item_frequencies

[('"V1"', 1),
 ('"V2"', 1),
 ('"V3"', 1),
 ('"V4"', 1),
 ('"V5"', 1),
 ('', 1),
 ('"Harry Potter2"', 2),
 ('"LOTR"', 2),
 ('"Braveheart"', 2),
 ('"LOTR1"', 3),
 ('"Harry Potter1"', 3),
 ('"LOTR2"', 3),
 ('"Green Mile"', 3),
 ('"Sixth Sense"', 7),
 ('"Patriot"', 7),
 ('"Gladiator"', 8),
 ('""', 20),
 ('1', 30),
 ('0', 70)]

In [12]:
# Storing frequencies and items in separate variables 
frequencies = list(reversed([i[1] for i in item_frequencies]))
items = list(reversed([i[0] for i in item_frequencies]))

In [13]:
frequencies[0:6]

[70, 30, 20, 8, 7, 7]

In [14]:
movies_series  = pd.DataFrame(pd.Series(movies_list))

In [15]:
movies_series.shape

(12, 1)

In [16]:
movies_series.head()

                                                   0
0  ["V1", "V2", "V3", "V4", "V5", "Sixth Sense", ...
1  ["Sixth Sense", "LOTR1", "Harry Potter1", "Gre...
2  ["Gladiator", "Patriot", "Braveheart", "", "",...
3  ["LOTR1", "LOTR2", "", "", "", 0, 0, 1, 0, 0, ...
4  ["Gladiator", "Patriot", "Sixth Sense", "", ""...

In [ ]:
X = movies_series[''].str.join(sep=',').str.get_dummies(sep=',')